* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px; /*Esto es para que 1rem = 16px*/
    height: 100%;      /* que el body ocupe toda la altura */
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F5E6D3;
}

main {
    flex: 1;           /* ocupa todo el espacio disponible */
}

footer {
    margin-top: auto;  /* empuja el footer al final */
}
/*HEADER*/

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}

.header-titulo {
    justify-self: start;
}

.header-titulo h1{
    font-family: Georgia;
    font-weight: 400;
    color: 	#A0522D;
    font-size: 2rem; /*2rem = 2font size, osea 2.16px = 32px*/
}

.header-logo {
    justify-self: center;
    width: 7.5rem; /*Si se quiere cambiar el tamaño del logo, se cambia aca*/
}

.header-logo img{
    width: 100%;
    height: auto;
} 

.header-navegador {
    justify-self: end;
}

.header-lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.header-lista a{
    text-decoration: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 0.875rem; /*0.875rem = 14px*/
    color: #A0522D;
}

.header-lista a:hover {
  text-decoration: underline;
}

.carritoCompras-logo{
    width: 1.25rem; /*1.25rem = 20px*/
    height: auto;
}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*background-color:rgb(246, 213, 151);*/
    font-size: 0.75rem;  
    color: #A0522D;      
    padding: 0.625rem 0;  /*0.625rem = 10px*/
}

.footer-lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 5rem;
    padding-bottom: 1rem;
}

.footer-lista a {
  color: #A0522D;
  text-decoration: none;
}

.footer-lista a:hover {
  text-decoration: underline;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HERO BANNER */

.hero-banner { /*Probar hacerlo como grilla de 3 columnas*/
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.hero-banner-logo {
    max-width: 21.875rem;
    width: 100%;
    height: auto;
}

/*PRODUCTOS DESTACADOS*/

#catalogo-productos-index{
    grid-template-columns: repeat(1, 1fr);
}

.producto-destacado {
    display: grid;
    grid-template-columns: 1fr auto; 

    align-items: center;
    justify-content: center;
    text-align: center;

    width: 48,75rem; /*Modifica el ancho del contenedor del producto*/
    height: 31,25rem; /*Modifica el alto del contenedor del producto*/
    padding: 2rem;

    border: 0.0625rem solid #cccccc;
    box-shadow: 1.25rem 1.25rem 2.5rem #e0e0e0;
    background-color: bisque;
}

.producto-destacado img{ 
    max-width: 31.25rem; /*La imagen no puede ocupar mas que este parametro, aunque el contenedor lo permita. Desde aca se cambia el tamaño de la imagen*/
    width: 100%;
    height: auto;
}

.info-destacada {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.info-destacada a{
    font-family: Sans-Serif;
    font-weight: 500;
    text-decoration: none;
    color: #A0522D;
}

.precio-destacado {
    font-family: Sans-Serif;
    font-weight: 750;
    text-decoration: none;
    color: #A0522D;
}

.producto-destacado:nth-child(odd) {
    margin-left: -21.875rem;
}

.producto-destacado:nth-child(even) {
    margin-right: -21.875rem;
}

/*PRODUCTOS*/

.catalogo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 2rem;
}

.catalogo h2{
    font-family:  Georgia;
    font-weight: bold(700);
    color: #A0522D;
    font-style: italic;
    padding-bottom: 1.25rem;
}

.buscador-producto {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 3.25rem 2.5rem;
}

.buscador-input{
    border-radius: 1rem;
    background: url() no-repeat right 0.5rem center; /*el right 8px es para que se separe del fondo y el center es para que este alineado verticalmente en el centro */    
    background-size: 1.15rem;
    padding-left: 0.325rem;
}

.catalogo-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1.25rem;
}

.productoIndividual {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 31.25rem; /*Modifica el ancho del contenedor del producto*/
    height: 31.25rem; /*Modifica el alto del contenedor del producto*/
 
    border: 0.0625rem solid #cccccc;
    box-shadow: 1.25rem 1.25rem 2.5rem #e0e0e0;
    background-color: bisque;
}

.productoIndividual a{
    text-decoration: none;
    color: #C47A6D;
}

.productoIndividual a:hover{
    text-decoration: underline;
}

.productoIndividual img{ /*La imagen no puede ocupar mas que este parametro, aunque el contenedor lo permita. Desde aca se cambia el tamaño de la imagen*/
    max-width: 25rem;
    width: 100%;
    height: auto;
}

/*PRODUCTO*/

.seccion-producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.imagen-producto {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imagen-producto img {
    max-width: 37,5rem;
    width: 100%;
    height: auto;
}

.info-detallada-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.625rem;
}

.nombre-producto {
  font-size: 1.8rem;
  margin: 0;
}

.precio {
  font-weight: bold;
  font-size: 1.2rem;
}

.info-detallada-producto button {
  width: 7.5rem;     
  background: white;     
  color: black;
  cursor: pointer;
  text-align: center;
}

/* aca empieza el estileado del formulario */

/* Establecemos lo visual para títulos */
.formulario-titulo {
  font-family: 'Playfair Display', serif;
  color: #A0522D; 
  padding-left: 0.0625rem;
}

/* Lo siguiente le da el fondo a donde va el texto del formulario */
.formulario-contacto {
  background: white;
  padding: 1.25rem;
  margin: 1.25rem auto;
  max-width: 37.5rem;
  border-radius: 0.5rem;
}

/* lo siguiente le da forma a las cajitas que contienen la info y los botenes tambien */
.Username, .Usermail, .MensajedeContacto, .boton_enviar, .boton_resetear {
  width: 100%;
  margin-top: 0.3125rem;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
}
/* lo siguiente le da forma a los botones enviar y resetear, ademas de cambier el cursor al posar en ellos */
.boton_enviar, .boton_resetear {
  background: #A0522D;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

/* lo siguiente sirve para que el usuario no pueda manipular el textarea */
.MensajedeContacto {
  resize: none;
}